* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: #000000;
    color: #ffffff;
}

button {
    
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
    padding: 0 5px;
    font-size: 13px;
    font-weight: bold;
    background-color: transparent;
    color: #ffffff;
    border-radius: 13px;
    margin: 2px 0;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused, #workspaces button.active {
    background-color: rgba(255, 255, 255, 0.2);
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#tray,
#power-profiles-daemon {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

#clock {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 13px;
    font-size: 14px;
    font-weight: bold;
}



@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}



#power-profiles-daemon {
    background-color: rgba(255, 255, 255, 0.2);
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    padding: 0 13px;
}

#power-profiles-daemon.performance {
    background-color: rgba(255, 255, 255, 0.2);
}

#power-profiles-daemon.balanced {
}

#power-profiles-daemon.power-saver {
}

#backlight {
    background-color: rgba(255, 255, 255, 0.2);

}

#network {
    background-color: rgba(255, 255, 255, 0.2);
    padding-right: 8px; /* Add some spacing to the right of the network module */
}

#pulseaudio {
    background-color: rgba(255, 255, 255, 0.2);
}

#pulseaudio:hover {
}

#pulseaudio.muted {
}

#wireplumber {
}

#wireplumber.muted {
}

#battery {
    background-color: rgba(255, 255, 255, 0.2);
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;

}

#battery.charging, #battery.plugged {
}

#power-profiles-daemon,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#battery,
#clock
{
    margin: 2px 0;
}



#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray {
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

